<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <section class="hero">
        <h2 class="title">Proyectos molones</h2>
        <p class="hero_text">Escaparate en línea para recoger ideas a través de la tecnología</p>
        <div class="hero_links">
            <a href="http://localhost:5005/#/landing" class="button--link">Ver todos los proyectos</a>
            <a href="http://localhost:5005" class="button--link">Añadir otro proyecto</a>
        </div>
    </section>

    <section class="section__card">

        <div class="project__img" style="background-image: url(<%= detailProject.image %>)">
        </div>


        <article class="card">
            <div class="card__author">
            <div class="card__authorPhoto" style="background-image: url(<%= detailProject.photo %>);"></div>
            <p class="card__job">
                <%= detailProject.job %>
            </p>
            <h3 class="card__name"><%= detailProject.autor %></h3> 
            </div>
        
            <div class="card__project">            
            <h3 class="card__name"><%= detailProject.name %></h3>
            <p class="card__slogan"><%= detailProject.slogan %></p>
            
            <p class="card__description"><%= detailProject.desc %></p>

            <div class="card__technicalInfo">
                <p class="card__technologies"><%= detailProject.technologies %></p>
            
                <a class="icon icon__www" href= '<%= detailProject.demo %>' title="Haz click para ver el proyecto online" target='_blank'>
                Web link
                </a>
                <a class="icon icon__github" href=<%= detailProject.repo %> title="Haz click para ver el código del proyecto" target='_blank'>
                GitHub link
                </a>
            </div>
            </div>
    </article>

    </section>
</body>
</html>